body {
    font-family: unset;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    word-break: break-all;
}
footer {
    display: flex;
}
ul {
    list-style: none;
    word-break: break-all;
}
li {
    word-break: break-all;
}
a {
    cursor: pointer;
}
a[href="#"] {
    display: inline-block;
    width: 5rem;
    max-width: 5rem;
}
.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
    text-transform: none;
}
label {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    word-break: break-all;
}
legend {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    word-break: break-all;
}
fieldset, input, select, textarea {
    margin-bottom: 1rem;
}
div {
    word-break: break-all;
}
p {
    word-break: break-all;
}
table, th, td {
    word-break: break-all;
}
blockquote {
    word-break: break-all;
}
.container {
    display: flex;
    flex-direction: column;
}
.content {
    margin-bottom: 2rem;
}
.content-header {
    display: flex;
    align-items: flex-end;
}
.content-more {
    font-size: 1.5rem;
    opacity: 0.8;
    margin-left: 2rem;
}
.error-message {
    color: red;
}
.content-description {
    margin: 1rem 0;
}
.content-description p {
    margin: 1rem 0;
}
.content-description ul {
    margin: 0 3rem;
}
.content-description li {
    margin: 0;
    padding: 0.2rem 0;
    list-style-type: disc;
}
ul.manual-menu  {
    margin: 0.5rem 0 1.5rem 0;
    padding: 0;
}
ul.manual-menu li {
    margin: 0 0 0 1rem;
    padding: 0.1rem 0;
}
ul.manual-menu a {
    margin: 0;
    padding: 0;
}

/* ************************************************************************* */
/* button                                                                    */
/* ************************************************************************* */
button {
    background-color: #b0c4de;
    color: #000000;
    border: 0;
}
button.warning {
    background-color: #8b0000;
    color: #ffffff;
}
button:hover,
button.information:hover,
button.warning:hover {
    opacity: 0.8;
    filter: invert();
}
button:focus {
    background-color: #b0c4de;
    color: #000000;
}
button.warning:focus {
    background-color: #ff0000;
    color: #000000;
}
button + button {
    margin-left: 1rem;
}

/* ************************************************************************* */
/* footer                                                                    */
/* ************************************************************************* */
.site-footer {
    display: flex;
    flex-direction: column;
}
.copyright {
    padding: 2rem;
    margin: 0 auto 2rem;
    font-size: 0.8rem;
    opacity: 0.5;
}
.historyback {
    font-size: 1rem;
    margin: 0 auto;
}

/* ************************************************************************* */
/* Nav bar                                                                   */
/* ************************************************************************* */
.top-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 90vW;
    padding: 2rem;
    margin: 0 auto 2rem;
}
.top-nav-title a {
    display: inline-block;
    color: #5f9ea0;
}
.top-nav-title a::first-letter {
    color: #2f4f4f;
}
.top-nav-links {
    display: grid;
    width: 12rem;
    min-width: 12rem;
    grid-template-rows: 3rem 1fr;
    grid-template-columns: 1fr 5rem;
    align-items: center;
    justify-items: center;
}
.top-nav-links-login-username {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.top-nav-links-settings-button {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 5rem;
    display: flex;
    align-items: center;
}
.top-nav-links-img-site-letter-button {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
#id-img-site-letter {
    display: none;
}
.top-nav-links-settings-button,
.top-nav-links-settings-button:hover,
.top-nav-links-settings-button:focus,
.top-nav-links-img-site-letter-button,
.top-nav-links-img-site-letter-button:hover,
.top-nav-links-img-site-letter-button:focus
{
    margin: 0;
    padding: 0;
    line-height: 0;
    height: auto;
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 1rem;
}
.top-nav-links-settings-button:hover,
.top-nav-links-img-site-letter-button:hover
{
    color: #d33c43;
}
.top-nav-links-settings-title {
    display: inline-block;
    color: #4e4e4e;
    font-size: 1.4rem;
    margin-left: 0.2rem;
}

/* ************************************************************************* */
/* animation                                                                 */
/* ************************************************************************* */
.letter-animation {
    -webkit-animation: buruburu 2s linear infinite;
    animation: buruburu 2s linear infinite;
    scale: 1;
}
@keyframes buruburu {
    0% { transform: translateX(0); }
    7% { transform: translateX(-0.2rem); }
    14%{ transform: translateX(0.2rem); }
    20%{ transform: translateX(-0.2rem); }
    32%{ transform: translateX(0.2rem); }
    40%{ transform: translateX(0px); }
}

/* ************************************************************************* */
/* container                                                                 */
/* ************************************************************************* */
.container {
    display: flex;
    width: 90vW;
    max-width: 90vW;
    padding: 0 2rem;
    margin: 0 auto 2rem;
}
.row .column.main-container,
.row .column-responsive.main-container {
    width: 100%;
}
.column-side {
    width: 100%;
}
/* 通常画面設定 */
@media (min-width: 640px) {
    .row .column-responsive.main-container {
        width: calc(100% - 25rem); /* 100% - 再度メニュー幅rem */
    }
    .column-side {
        width: 25rem;
        max-width: 25rem;
        min-width: 25rem;
    }
}

/* ************************************************************************* */
/* chat                                                                      */
/* ************************************************************************* */
.chat-chatroom-title {
    display: inline-block;
    padding: 0.2rem;
    margin: 0 0.2rem;
}
.chatroom-information {
    padding: 1rem 0;
}
.chatroom-edit {
    text-align: right;
}
#id-send-error-message {
    color: #ff0000;
}

/* ************************************************************************* */
/* form                                                                      */
/* ************************************************************************* */
#chatentry-form {
    margin-top: 2rem;
}

/* ************************************************************************* */
/* top                                                                       */
/* ************************************************************************* */
.chatroomlist-name {
    display: inline-block;
    padding: 0.2rem;
    margin: 0 0.2rem;
    border-radius: 0.5rem;
}

/* ************************************************************************* */
/* modal                                                                     */
/* ************************************************************************* */
.modal-body {
    overflow: hidden auto;
    height: 60vh;
}

/* ************************************************************************* */
/* button                                                                    */
/* ************************************************************************* */
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
}
.button-hidden {
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    opacity: 0.0;
    position: absolute;
    top: 0;
    left: 0;
}

#id-chatentrieslist {
    display: flex;
}

/* ************************************************************************* */
/* table                                                                     */
/* ************************************************************************* */
.table-column-head {
    width: 15rem;
    min-width: 15rem;
}
.text-wrap strong,
.message-wrap strong {
    display: block;
    padding: 12px 0;
}
.detail-wrap {
    padding: 0 1rem;
    border-left: 0.5rem solid #e1e1e1 ;
}
table tbody {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
table tbody tr {
    width: 100%;
    border-right: none;
}
table tbody tr td {
    width: 100%;
    border-bottom: none;
}
table tbody tr td:last-of-type {
    width: 100%;
    border-bottom: 0.1rem solid #e1e1e1;
}
/* 通常画面設定 */
@media (min-width: 640px) {
    table {
        width: 100%;
        border-spacing: 0;
        display: table;
        border-collapse: separate;
        text-indent: initial;
        unicode-bidi: isolate;
        border-color: gray;
    }
    table tbody {
        width: auto;
        display: table-row-group;
        vertical-align: middle;
        unicode-bidi: isolate;
        border-color: inherit;
        vertical-align: top;
    }
    table tbody tr {
        width: auto;
        display: table-row;
        vertical-align: inherit;
        unicode-bidi: isolate;
        border-color: inherit;
    }
    table tbody tr td,
    table tbody tr td:last-of-type {
        width: auto;
        border-bottom: 0.1rem solid #e1e1e1;
        padding: 1.2rem 1.5rem;
        text-align: left;
    }

    .table-column-date {
        width: 20rem;
        min-width: 20rem;
    }
    .table-column-fullname {
        width: 30rem;
        min-width: 30rem;
    }
    .table-column-nickname {
        width: 20rem;
        min-width: 20rem;
    }
    .table-column-team {
        width: 15rem;
        min-width: 15rem;
    }
    .table-column-chat-room-title {
        width: 25rem;
        min-width: 25rem;
    }
    .table-column-turn {
        width: 2rem;
        min-width: 2rem;
    }
    .table-column-hp,
    .table-column-sp {
        width: 8rem;
        min-width: 8rem;
    }
    .table-column-strength,
    .table-column-dexterity,
    .table-column-combo {
        width: 10rem;
        min-width: 10rem;
    }
    .table-column-tag-name,
    .table-column-class-name {
        width: 25rem;
        min-width: 25rem;
    }
    .table-column-sample {
        width: 25rem;
        min-width: 25rem;
    }
    .table-column-id {
        width: 5rem;
        min-width: 5rem;
    }
    .table-column-sex {
        width: 15rem;
        min-width: 15rem;
    }
    .table-column-tag {
        width: 25rem;
        min-width: 25rem;
    }
    .table-column-url {
        width: 5rem;
        min-width: 5rem;
    }
    .table-column-color,
    .table-column-backgroundcolor {
        width: 12rem;
        min-width: 12rem;
    }
    .table-column-level {
        width: 5rem;
        min-width: 5rem;
    }
    .table-column-status {
        width: 10rem;
        min-width: 10rem;
    }
    .table-column-action1button {
        width: 7rem;
        min-width: 7rem;
    }
    .table-column-message-title {
        width: 25rem;
        min-width: 25rem;
    }
    .table-column-detail {
        width: 25rem;
        min-width: 25rem;
        word-break: normal;
    }
    .table-column-characters {
        width: 25rem;
        min-width: 25rem;
        word-break: normal;
    }
    .table-column-opend {
        width: 8rem;
        min-width: 8rem;
    }
}

/* ************************************************************************* */
/* 戦闘用                                                                    */
/* ************************************************************************* */
.battle-skill-label {
    font-weight: normal;
}
.battle-skill-checkbox {
    width: 15rem;
}
.battle-character-statuses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.battleform-fieldset-container {
    padding: 1rem 0;
}
.battleform-fieldset-container + .battleform-fieldset-container {
    border-top: inset 1px;
}
.battleform-attribute-container {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0.5rem 0;
}
.battleform-attribute-container li {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* ************************************************************************* */
/* commentary                                                                */
/* ************************************************************************* */
.commentary-comment {
    margin: 1rem 0;
}

/* ************************************************************************* */
/* index                                                                     */
/* ************************************************************************* */
#id-information-reload,
#id-messages-reload,
#id-namelist-reload,
#id-chatroomlist-reload,
#id-chathistory-reload,
#id-chatlogwarehouses-reload {
    display: none;
    margin: 1rem 0;
    font-size: 1rem;
    text-align: right;
    opacity: 0.5;
}
